---
layout:  blog
title: Samenwerken aan de Digitale Overheid
tagline: Samenwerken aan de Digitale Overheid.
lang: nl
width: 960
---

<section class="block-100-a-60 posts">
  {% for post in site.posts %}
  <div class="post__item">
    {% if post.cover %}
    <img src="/img/posts/{{post.cover}}">
    {% else %}
    <img src="/img/default.png">
    {% endif %}
    <span class="card-title">{{ post.title }}</span>
    <p>{{ post.excerpt}}</p>
    <a href="{{ post.url }}">lees meer..</a>
  </div>
  {% endfor %}
</div>
</section>