---
---
<!DOCTYPE html>
<html>

<head>
  <title>Code for NL</title>
  <meta name="viewport" content="width=320,initial-scale=1,user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta property="og:type" content="default">
  <meta property="og:url" content="http://www.codefor.nl">
  <meta property="og:site_name" content="Code for NL">
  <meta property="og:title" name="title" content="Code for NL">
  <meta property="og:description" name="description" content="Code for NL is het netwerk van developers en designers die samenwerken aan een open en eerlijke digitale overheid en samenleving">
  <meta property="og:image" content="http://www.codefor.nl/img/larger_CfNL.png">
  <meta name="keywords" content="code, for, nl">
  <link rel="image_src" href="/img/larger_CfNL.png" />
  <link rel="shortcut icon" sizes="128x128" href="/img/CfNL.png" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
  <script src="https://use.fontawesome.com/164ce3f549.js"></script>
</head>

<body>
  {% include nav.html %}

  <header>
    <div class="wrapper" style="text-align: right">
      <p>
        <a href="/en/" style="margin: 1em; color: #111">English version</a>
      </p>
    </div>
    <div class="wrapper">
      <h2>Samenwerken aan de<br>Digitale Overheid.</h2>
      <a href="/" class="logo">
        <img alt="</" src="/img/larger_CfNL.png">
        <h1>Code for NL</h1>
      </a>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <section>
        <p class="headline">
          Stichting <b>Code for NL</b> is het Nederlandse netwerk van
          developers en designers die samenwerken aan een open en eerlijke
          digitale overheid en samenleving.
        </p>
        <p class="headline">
          Ons doel is de succesvolle
          digitale transformatie van gemeenten, andere overheden en de
          samenleving als geheel.
        </p>
        <p class="headline">
          Code for NL is governing partner van het internationale <a href="https://codeforall.org">Code for All</a> netwerk.
        </p>
        <a href="http://praatmee.codefor.nl" class="cta_button">Praat mee op Slack</a>
      </section>

      <section>
          <h1>Door developers en designers,<br>voor developers en designers</h1>

          <p>Levende standaarden, best practices, ethische vraagstukken. Sluit aan op een actief netwerk van developers en designers voor uitwisselen van kennis, ervaring en code. In samenwerking met <a href="#partners">onze partners</a> organiseren we regelmatig meetups om met elkaar kennis te maken, ideeën te delen en samenwerkingen aan te gaan.</p>

          <p>Code for NL is aangesloten op het internationale Code for All netwerk van #civictech organisaties. Jaarlijks zijn er een aantal conferenties waar je vakgenoten kunt ontmoeten van over de hele wereld.</p>

          <a href="http://events.codefor.nl/" class="cta_button">Bekijk onze agenda</a>
      </section>

      <section>
          <h1>Kennispartner voor overheden</h1>

          <p>Ben je als overheid op zoek naar bestaande oplossingen, informatie over digitale mogelijkheden, of open source projecten van andere overheden om bij aan te sluiten? Wij helpen graag!</p>
          <p>In samenwerking met <a href="#partners">onze partners</a> zorgen we bijvoorbeeld voor een actueel overzicht van projecten en applicaties op het gebied van digitale overheid.</p>
          <p>Daarnaast komen we graag langs voor een college of werkgroep over onderwerpen binnen ons vakgebied, zoals open source samenwerking, data science, kunstmatige intelligentie, ethiek en tech, of api's / web services.</p>

          <a href="mailto:info@codefor.nl" class="cta_button">Mail ons</a>
      </section>

      <section>
        <h1>Clarity show cases: experts gezocht!</h1>
        <p>Op Clarity vind je een overzicht van #civictech en open #govtech show cases. Hiervoor zoeken we domeinexperts die een gecureerde set willen bijhouden op hun vakgebied of voor hun organisatie. Stuur een mail naar <a href="mailto:info@codefor.nl">info@codefor.nl</a> om je aan te melden.</p>
        <a href="http://clarity.codefor.nl/" class="cta_button">Bekijk Clarity</a>
      </section>

      <!--
      <section>
          <h1>Publicaties</h1>

          <h2>iBestuur</h2>
      </section>
      -->

      <section class="centered_content">
        <style>
          .partner-img {
            max-width: 140px;
            max-height: 140px;
            margin: auto;
          }
          .partner-img-wrapper {
            width: 140px;
            height: 140px;
            display: inline-block;
            background: #fff;
            border: 10px solid white;
            box-shadow: #eee 0 0 40px;
            margin: 20px;
            vertical-align: top;
          }
        </style>

        <a name="partners"></a>
        <h1>Code for All <b>Affiliate Partners</b></h1>
        <p>Lokale organisaties die via Code for NL officieel aangesloten zijn op het internationale Code for All netwerk:</p>

        <center>

        {% for partner in site.data.partners %}

          {% if partner.img and partner.type == "formal" %}

            <a class="partner-img-wrapper" href="{{ partner.url }}"><img class="partner-img" src="{{ partner.img }}"></a>

          {% endif %}

        {% endfor %}

        </center>

        <h1>Samenwerkingspartners</h1>
        <p>Organisaties waarmee wij onze activiteiten ondernemen en waar we regelmatig samenkomen:</p>

        <center>

        {% for partner in site.data.partners %}

          {% if partner.img and partner.type != "formal" %}

            <a class="partner-img-wrapper" href="{{ partner.url }}"><img class="partner-img" src="{{ partner.img }}"></a>

          {% endif %}

        {% endfor %}

        </center>

      </section>

      <section>
        <h1>Organisatie</h1>

        {% for bestuurslid in site.data.mensen %}

        <div class="persoon">
          <img class="pasfoto" src="{{ bestuurslid.img }}">
          <p>
            {{ bestuurslid.name }}<br>
            {{ bestuurslid.function }}<br>
            <a href="{{ bestuurslid.email }}">{{ bestuurslid.email }}</a>
          </p>
          <p class="social">
            {% if bestuurslid.linkedin %}<a class="linkedinBtn smGlobalBtn" href="{{ bestuurslid.linkedin }}"></a>{% endif %}
            {% if bestuurslid.twitter %}<a class="twitterBtn smGlobalBtn" href="{{ bestuurslid.twitter }}"></a>{% endif %}
            {% if bestuurslid.github %}<a class="githubBtn smGlobalBtn" href="{{ bestuurslid.github }}"></a>{% endif %}
            {% if bestuurslid.website %}<a class="websiteBtn smGlobalBtn" href="{{ bestuurslid.website }}"></a>{% endif %}
          </p>
        </div>

        {% endfor %}
      </section>

      <section>
        <h1>Wil je helpen?!</h1>
        <p>Wil je meehelpen met/door het organiseren van meetups, unconferences, hack dagen, of heb je goede ideeën? Dan horen we natuurlijk heel graag van je! Stuur ons snel een e-mail met je ideeën, dan maken we een afspraak.</p>
        <a href="mailto:info@codefor.nl" class="cta_button">Mail ons</a>
      </section>

    </div>
  </main>
  <footer>
    <div class="wrapper">
      <div style="text-align: center; margin-top: 80px; margin-bottom: 80px">
        <h2>Contact</h2>
        <p class="social">
          Stichting <b>Code for NL</b><br>
          KvK <a target="_blank" href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=69749477">69749477</a><br />
        </p>
        <p class="social">
          <b>Postadres</b><br>
          Burgemeester de Josselin de Jonglaan 8<br>
          3042 NH Rotterdam
        </p>
        <p class="social">
          <b>Bezoekadres</b><br>
          waag<br>
          Nieuwmarkt 4<br>
          1012 CR Amsterdam
        </p>
        <br>
        <p class="social">
          <a class="githubBtn smGlobalBtn" href="https://github.com/codefornl" title="Code for NL Github"></a>
          <a class="twitterBtn smGlobalBtn" href="https://twitter.com/codefornl" title="Code for NL op Twitter"></a>
          <a class="slackBtn smGlobalBtn" href="http://praatmee.codefor.nl/" title="Code for NL Slack omgeving"></a>
          <a class="mediumBtn smGlobalBtn" href="https://medium.com/code-for-nl" title="Code for Europe Publicaties op Medium"></a>
          <a class="emailBtn smGlobalBtn" href="mailto://info@codefor.nl" title="E-mail Code for NL"></a>
        </p>
      </div>
    </div>
  </footer>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.codefor.nl"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u = "//stats.waag.org/";
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', '13']);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p><img src="//stats.waag.org/piwik.php?idsite=13" style="border:0;" alt="" /></p>
  </noscript>
  <!-- End Piwik Code -->
</body>

</html>
