---
layout: default
title: Making Government Work In The Digital Age
lang: en
tagline: Making Goverment Work In The Digital Age.
permalink: /en/
---
<section>
  <p class="headline">
    <b>Code for NL</b> is the Dutch network of
    developers and designers working on an open and fair
    digital government and society.
  </p>
  <p class="headline">
    Our goal is the successful
    digital transformation of municipalities, other governments,
    and society as a whole.
  </p>
  <p class="headline">
    Code for NL is a governing partner of the international <a href="https://codeforall.org">Code for All</a>
    network.
  </p>
</section>

<section>
  <h1>Organisation</h1>

  {% for mens in site.data.mensen %}{% if mens.groups contains "board" or mens.groups contains "active" %}

  <div class="persoon">
    <img class="pasfoto" src="{{ mens.img }}">
    <p>
      {{ mens.name }}<br>
      {{ mens.function_en }}<br>
      <a href="mailto:{{ mens.email }}">{{ mens.email }}</a>
    </p>
    <p class="social">
      {% if mens.linkedin %}<a class="linkedinBtn smGlobalBtn" href="{{ mens.linkedin }}"></a>{% endif %}
      {% if mens.twitter %}<a class="twitterBtn smGlobalBtn" href="{{ mens.twitter }}"></a>{% endif %}
      {% if mens.github %}<a class="githubBtn smGlobalBtn" href="{{ mens.github }}"></a>{% endif %}
      {% if mens.website %}<a class="websiteBtn smGlobalBtn" href="{{ mens.website }}"></a>{% endif %}
    </p>
  </div>

  {% endif %}
  {% endfor %}
</section>
