<header class="block-100-a-60">
  <div class="action-box">
    <div class="action-box__action">"<span>Civic Tech tegen Corona. Doe mee!</span>"</div>
    <div class="action-box__author"><span>Kom naar <a href="https://doemee.codefor.nl" style="color: #FFFFFF; text-decoration: underline">doemee.codefor.nl</a></span></div>
  </div>
  <!-- <script>
    var actions = [
      ["Fight for the web", "Tim Berners Lee"],
      ["Het internet is stuk, maar nog niet verloren.", "Marleen Stikker"],
      ["We're not going to fix government until we fix citizenship.", "Jennifer Pahlka"],
      ["Are we just going to be a crowd of voices, or are we going to be a crowd of hands?", "Jennifer Pahlka"],
      ["When one neighbor helps another, we strengthen our communities.", "Jennifer Pahlka"],
      ["We have to make bureaucracy sexy.", "Jennifer Pahlka"]
    ];
    var action = actions[Math.floor(Math.random() * actions.length)];
    $(".action-box__action span").html(action[0]);
    $(".action-box__author span").html(action[1]);
  </script> -->
</header>
