<section class="block-40-a text-center">
  <h2>COMMUNITY</h2>
  <p class="headline">
    Wij zijn de developers en designers die samenwerken aan<br>
    een open en eerlijke digitale overheid en samenleving.
  </p>
  <div class="community-stats top-60">
    {% for stat in site.data.community %}
    <div class="community-stat">
    <div class="community-stat-number" style="color:{{stat.color}}">{{stat.value}}</div>
      <div class="community-stat-text">{{stat.label}}</div>
    </div>
    {% endfor %}
  </div>
  <div class="top-60">
    <h2 style="color: #777977">praat mee op Slack</h2>
      <form method="post" action="https://praatmee.codefor.nl">
      <input type="text" placeholder="naam"> <input type="text" placeholder="email"> <button>MELD JE AAN</button>
      </form>
  </div>
</section>
