<footer>
  <div class="wrapper">
    <div style="text-align: center; margin-top: 80px; margin-bottom: 80px">
      <p class="social">
        Stichting <b>Code for NL</b><br>
        KvK <a target="_blank" href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=69749477">69749477</a>
      </p>
      <p class="social">
        <a href="http://www.codefor.nl">www.codefor.nl</a>
      </p>
      <p class="social">
        <b>Postadres</b><br>
        Burg. de Joss. de Jongln. 8<br>
        3042 NH Rotterdam
      </p>
      <p class="social">
        <b>Bezoekadres</b><br>
        Waag Society<br>
        Nieuwmarkt 4<br>
        1012 CR Amsterdam
      </p>
      <br>
      <p class="social">
        <a class="twitterBtn smGlobalBtn" href="https://twitter.com/codefornl" title="Code for NL op Twitter"></a>
        <a class="githubBtn smGlobalBtn" href="https://github.com/codefornl" title="Code for NL Github"></a>
      </p>
    </div>
  </div>
</footer>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "//click.codefor.nl/";
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
  })();
</script>
<!-- End Matomo Code -->
<noscript>
  <!-- Matomo Image Tracker-->
  <img src="https://click.codefor.nl/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" />
  <!-- End Matomo -->
</noscript>
