<head>
  <meta name="viewport" content="width=320,initial-scale=1,user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- type -->
  <meta property="og:type" content="default">
  <meta name="twitter:card" content="summary">

  <!-- url -->
  <meta property="og:url" content="https://www.codefor.nl{{ page.url }}">
  <meta name="twitter:url" content="https://www.codefor.nl{{ page.url }}">

  <!-- site name -->
  <meta property="og:site_name" content="{{ site.name }}">

  <!-- title -->
  <title>{{ page.title }} ({{ site.name }})</title>
  <meta property="og:title" content="{{ page.title }} ({{ site.name }})">
  <meta name="twitter:text:title" content="{{ page.title }} ({{ site.name }})">

  <!-- description -->
  {% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  {% if page.lang == "nl" %}
  <meta property="og:description"
    content="Code for NL is het netwerk van developers en designers die samenwerken aan een open en eerlijke digitale overheid en samenleving">
  <meta name="twitter:description"
    content="Code for NL is het netwerk van developers en designers die samenwerken aan een open en eerlijke digitale overheid en samenleving">
  {% else %}
  <meta property="og:description"
    content="Code for NL is the Dutch network of developers and designers improving government and society using digital technology.">
  <meta name="twitter:description"
    content="Code for NL is the Dutch network of developers and designers improving government and society using digital technology.">
  {% endif %}
  {% endif %}

  <!-- preview image -->
  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}">
  <meta name="twitter:image" content="{{ page.image }}">
  {% else %}
  <meta property="og:image" content="https://www.codefor.nl/img/larger_CfNL.png">
  <meta name="twitter:image" content="https://www.codefor.nl/img/larger_CfNL.png">
  {% endif %}

  <!-- shortcut icon -->
  <link rel="image_src" href="/img/larger_CfNL.png" />
  <link rel="shortcut icon" sizes="128x128" href="/img/CfNL.png" />

  <meta name="keywords"
    content="{{ site.defaulttags | join: ', ' }}{% if page.tags %},{{ page.tags | join: ', '}}{% endif %}">

  <!-- style -->
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
  <script src="https://use.fontawesome.com/164ce3f549.js"></script>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>