<header>
    {% if page.url == "/" %}
    <div class="wrapper" style="text-align: right">
        <p>
            {% if page.lang == "nl" %}
            <a href="/en/" style="margin: 1em; color: #111">English version</a>
            {% else %}
            <a href="/" style="margin: 1em; color: #111">Nederlandse versie</a>
            {% endif %}
        </p>
    </div>
    {% endif %}
    <div class="wrapper">
        <h2>{{ page.tagline }}</h2>
        {% if page.lang == "nl" %}
        <a href="/en/" class="logo">
            <img alt="&lt;/" src="/img/larger_CfNL.png">
            <h1>Code for NL</h1>
        </a>
        {% else %}
        <a href="/" class="logo">
            <img alt="&lt;/" src="/img/larger_CfNL.png">
            <h1>Code for NL</h1>
        </a>
        {% endif %}
    </div>
</header>
