<header class="block-100-a-60"> 
  <div class="quote-box">
    <div class="quote-box__quote">"<span>Fight for the web</span>"</div>
    <div class="quote-box__author">- <span>Tim Berners Lee</span></div>
  </div>
  <script>
    var quotes = [
      ["Fight for the web", "Tim Berners Lee"],
      ["Het internet is stuk, maar nog niet verloren.", "Marleen Stikker"],
      ["We're not going to fix government until we fix citizenship.", "Jennifer Pahlka"],
      ["Are we just going to be a crowd of voices, or are we going to be a crowd of hands?", "Jennifer Pahlka"],
      ["When one neighbor helps another, we strengthen our communities.", "Jennifer Pahlka"],
      ["We have to make bureaucracy sexy.", "Jennifer Pahlka"]
    ];
    var quote = quotes[Math.floor(Math.random() * quotes.length)];
    $(".quote-box__quote span").html(quote[0]);
    $(".quote-box__author span").html(quote[1]);
  </script>
</header>
