<section class="block-100-a-60 heroins">
  <div class="heroins__item">
    <img src="/img/jp.png"><br>
    <h2>OPEN COMMUNITY</h2>
    <div>
      <p>Als open en inclusief netwerk van civic tech professionals en enthousiastelingen ondersteunen we elkaar bij het organiseren van bijeenkomsten, kennisdeling en samenwerking.</p>
    </div>
  </div>
  <div class="heroins__item">
    <img src="/img/ms.png"><br>
    <h2>TOOLS & TECH</h2>
    <div>
      <p>Samen bouwen we open en eerlijke technologie voor maatschappelijk nut en een betere digitale overheid, en werken we met de internationale civic tech community aan tools en <i>tech for good</i>.</p>
    </div>
  </div>
  <div class="heroins__item">
    <img src="/img/at.png"><br>
    <h2>ADVIES & TRAINING</h2>
    <div>
      <p>We helpen mensen begrijpen wat digitalisering is en hoe het werkt. Volg onze <a href="#tfnt">TECH FOR NON TECH</a> training over technologie; voor iedereen in de overheid die meer grip wil op digitale transformatie.</p>
      <p><a href="#tfnt">Meer informatie</a></p>
    </div>
  </div>
</section>
