<nav class="nav__site">
  <div class="nav__logo">
    <img src="/img/Logo-slash-01.png" style="height: 48px"> <span class="nav__logo--highlight">&nbsp;CODE for NL&nbsp;</span>
    <div style="margin-top: 10px; font-size: 12px; margin-left: 80px">{{ site.data.blocks.site[page.lang].tagline}}</div>
  </div>
  <ul class="nav__menu">
    {% if page.lang == "nl" %}
    <li><a href="/communityprojects/">community</a></li>
    <li><a href="/#meetups">meetups</a></li>
    <li><a href="/#training">training</a></li>
    <li><a href="/#programs">{{ site.data.blocks.site[page.lang].programs}}</a></li>
    {% else %}
    <li><a href="/{{page.lang}}/#meetups">meetups</a></li>
    <li><a href="/{{page.lang}}/#training">training</a></li>
    <li><a href="/{{page.lang}}/#programs">{{ site.data.blocks.site[page.lang].programs}}</a></li>
    {% endif %}
  </ul>
</nav>
