<nav class="nav__site">
  <div class="nav__logo">
    <a href="../"><img src="{{ site.url }}/img/Logo-orange-01.png"></a>
    
    <div class="nav__hamburger">
      <span class="hamburger"></span>
    </div>

  </div>
  <ul class="nav__menu">
    {% if page.lang == "nl" %}
    <li><a href="{{ site.url }}/#tfnt/">training</a></li>
    <li><a href="{{ site.url }}/#community">community</a></li>
    <li><a href="{{ site.url }}/#meetups">meetups</a></li>
    <li><a href="{{ site.url }}/#organisatie">organisatie</a></li>

    <!--li><a href="{{ site.url }}/#programs">{{ site.data.blocks.site[page.lang].programs}}</a></li-->
    {% else %}
    <li><a href="{{ site.url }}/{{page.lang}}/#tfnt">training</a></li>
    <li><a href="{{ site.url }}/{{page.lang}}/#meetups">meetups</a></li>
    <!--li><a href="{{ site.url }}/{{page.lang}}/#programs">{{ site.data.blocks.site[page.lang].programs}}</a></li-->
    {% endif %}
  </ul>
</nav>
