<nav class="codefornl-nav">
  <style>
    .codefornl-nav {
      background: #111;
      padding: 0.4em 0;
      text-align: left;
    }
    .codefornl-nav--content-block {
      max-width: 800px;
      margin: auto;
    }
    .codefornl-nav--menu-item {
      font-family: "Lato", "Verdana", "Arial", sans-serif;
      font-size: 100%;
      font-weight: 100;
      font-size: 20px;
      line-height: 1.4em;
      color: #fff;
      text-decoration: underline;
      margin-left: 1em;
    }
  </style>
  <div class="codefornl-nav--content-block">
    <a class="codefornl-nav--menu-item" href="https://www.codefor.nl">code&nbsp;for&nbsp;nl</a>
    <a class="codefornl-nav--menu-item" href="https://praatmee.codefor.nl">praat&nbsp;mee</a>
    <a class="codefornl-nav--menu-item" href="http://events.codefor.nl">#civictech&nbsp;events</a>
    <a class="codefornl-nav--menu-item" href="http://clarity.codefor.nl">#clarity&nbsp;case&nbsp;studies</a>
  </div>
</nav>
