<nav>
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  <style>

  </style>
  <div class="nav__logo">
    <img src="/img/Logo-slash-01.png" style="height: 48px"> <span class="nav__logo--background-orange">&nbsp;CODE for NL&nbsp;</span>
    <div style="margin-top: 10px; font-size: 12px; margin-left: 80px">samenwerken aan de digitale overheid</div>
  </div>
  <ul class="nav__menu">
    <!-- <li><a href="#community">community</a></li> -->
    <li><a href="/#meetups">meetups</a></li>
    <li><a href="/#training">training</a></li>
    <li><a href="/#programmas">programmas</a></li>
  </ul>
</nav>
