<section  class="text-center">
  <h1>{{ site.data.blocks.organisation[page.lang]}}</h1>
  <div class="person-list">
  {% for mens in people %}
  <div class="person">
    <img class="picture" src="{{ mens.img }}">
    <p>
      {{ mens.name }}<br>
      {{ mens.function[page.lang] }}<br>
      <a href="mailto:{{ mens.email }}">{{ mens.email }}</a>
    </p>
    <p class="social">
      {% if mens.linkedin %}<a class="linkedinBtn smGlobalBtn" href="{{ mens.linkedin }}"></a>{% endif %}
      {% if mens.twitter %}<a class="twitterBtn smGlobalBtn" href="{{ mens.twitter }}"></a>{% endif %}
      {% if mens.github %}<a class="githubBtn smGlobalBtn" href="{{ mens.github }}"></a>{% endif %}
      {% if mens.website %}<a class="websiteBtn smGlobalBtn" href="{{ mens.website }}"></a>{% endif %}
    </p>
  </div>
  {% endfor %}
</div>
</section>
