<section>
  <img src="/img/tfnt.png" class="tfnt-img">

  <div class="tfnt" style="display: none;">
    <div class="tfnt-line">
      <div class="tfnt-line-wrap">
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <span class="word color1">TECH</span>
        <span class="word color2">FOR</span>
        <span class="word color1">TECH</span>
        <span class="word color2">FOR</span>
        <span class="word color1">TECH</span>
        <span class="word color2">FOR</span>
        <span class="word color1">TECH</span>
        <span class="word color2">FOR</span>
        <span class="word color1">TECH</span>
        <span class="word color2">FOR</span>
      </div>
    </div>
    <div class="tfnt-line">
      <div class="tfnt-line-wrap" style="margin-left: -200px">
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
      </div>
    </div>
    <div class="tfnt-line">
      <div class="tfnt-line-wrap">
        <div class="word color2">FOR</div>
        <span class="word color1">TECH</span>
        <span class="word color2">FOR</span>
        <span class="word color1">TECH</span>
        <span class="word color2">FOR</span>
        <div class="word color1">TECH</div>
        <span class="word color2">FOR</span>
        <div class="word color1">TECH</div>
        <span class="word color2">FOR</span>
        <div class="word color1">TECH</div>
        <span class="word color2">FOR</span>
        <div class="word color1">TECH</div>
      </div>
    </div>
    <div class="tfnt-line">
      <div class="tfnt-line-wrap" style="margin-left: -200px">
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
        <span class="word color3">TECH</span>
        <span class="word color4">NON</span>
      </div>
    </div>
    <script>
      $(".tfnt-img").hide();
      $(".tfnt").show();

      var $lines = $(".tfnt-line-wrap");
      var d = '';

      $lines.each(function (i, $line) {
        var D;
        if (d == '') d = '-';
        else d = '';
        D = d;
        var t = 0;
        setInterval(function () {
          t += 20 + Math.floor(60 * Math.random());
          if (t > 200) {
            t = 0;
          }
          $(".word", $line).css({
            transitionDuration: '1s',
            transitionTimingFunction: 'linear',
            transform: 'translate(' + D + t + 'px, 0)'
          });
        }, 1000);
      });
    </script>
  </div>
</section>

<section class="text-center">
  <p class="headline">
    {{ site.data.blocks.tfnt[page.lang]}}
  </p>
</section>