<section>
  <img src="/img/tfnt.png" class="tfnt-img">

  <div class="tfnt" style="display: none;">
    <div class="tfnt-line">
      <a href="#"><div class="tfnt-line-wrap">
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
      </div></a>
    </div>
    <div class="tfnt-line">
      <a href="#"><div class="tfnt-line-wrap" style="margin-left: -200px">
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
          <div class="word color3">TECH</div>
            <div class="word color4">NON</div>
              <div class="word color3">TECH</div>
      </div></a>
    </div>
    <div class="tfnt-line">
      <a href="#"><div class="tfnt-line-wrap">
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
      </div></a>
    </div>
    <div class="tfnt-line">
      <a href="#"><div class="tfnt-line-wrap" style="margin-left: -200px">
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
      </div></a>
    </div>
    <div class="tfnt-line">
      <a href="#"><div class="tfnt-line-wrap">
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
      </div></a>
    </div>
  </div>
</section>

<!--section class="text-center">
  <p class="headline">
    {{ site.data.blocks.tfnt[page.lang]}}
  </p>
</section-->