.founder {
    display: flex;
    width: 100%;
        display: flex;
        width: 30%;
        margin: 3px;
        max-width: 314px;
    }
    .founder-details {
        display: flex;

        width: 30%;
        margin: 3px;
        max-width: 314px;
        padding-left: 500px;
    }


