.item-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    .item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1 0 auto;
        width: 25%;
        max-width: 300px;
        margin: 1em;
        border: 0px solid $border-color;
        text-align: left;

        h4 {
            font-family: $header-font;
            color: $secondary-inverse;
            padding-top: 2em;
            padding-right: 0.2em;
            font-size: 1.3em;
            margin-bottom: 0;
        }

        p {

            flex-grow: 1;
        }

        .button {
            font-family: $header-font;
            font-size: 1.5em;
            text-align: center;
            background: $secondary-inverse;
            padding: 0.3em;
            height: 30px;
            }

        .button:hover {
            color: white;
            background: $color1;
            }
        }
        .item-tracer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 1 0 auto;
            width: 45%;
            max-width: 500px;
            margin: 1em;
            border: 0px solid $border-color;
            text-align: left;
        }
    }

@media #{$media-s} {
    .item-list {
        flex-direction: column;
        .item {
            max-width: none;
            width: 100%;
            margin: 0 auto 1em auto;
            img {
                margin: 2em;
            }
        }
    }
}
@media #{$media-xs} {
    .item-list {
        flex-direction: column;
        .item {
            width: 100%;
            max-width: none;
            margin: 0 auto 1em auto;
            img {
                margin: 0;
            }
        }
    }
}

.no-border {
    border: none !important;
}
