nav {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav__menu li {
    display: inline-block;
}

.nav__logo,
.nav__menu {
    display: inline-block;
    font-family: $header-font;
    color: $secondary-inverse;
    font-size: 24px;
}

.nav__logo {
    display: flex;
    flex-direction: row;
    img {
        height: 48px;
        margin: 4px 8px 0 0;
    }

    div {
        display: flex;
        flex-direction: column;
        span {
            text-transform: uppercase;
            text-align: center;
            font-size: 28px;
            margin: 0 48px 0 0;
            padding: 0;
        }
        p {
            font-size: 12px;
            margin: 0;
        }
    }
    
}

.nav__logo--highlight {
    background: $highlight-color;
    color: $text-light;
}

.nav__menu {
    text-transform: uppercase;
    padding-top: 0;
    margin: 12px 0 0 0;
}

.nav__menu li {
    padding: 0 4px;
}

.nav__menu li:hover {
    background: $highlight-color;
    cursor: pointer;
}

.nav__menu li:hover a {
    color: $text-light;
}

@media only screen and (max-width: 420px) {
    .nav__logo {
        font-size: 28px;
        display: block;
    }
}