nav {
    margin: 0 auto;
    padding-top: 5em;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__menu li {
    display: inline-block;
}

.nav__logo,
.nav__menu {
    display: inline-block;
    font-family: $header-font;
    color: $secondary-inverse;
    font-size: 32px;
}

.nav__menu a {
    color: $secondary-inverse;
}

.nav__menu a:hover {
    color: $color1;
}


.nav__logo {
    display: flex;
    flex-direction: row;

    img {
        height: 120px;
        margin: 4px 8px 0 0;
    }

    div {
        display: flex;
        flex-direction: column;

        span {
            text-transform: uppercase;
            text-align: center;
            font-size: 28px;
            margin: 0 48px 0 0;
            padding: 0;
        }

        p {
            font-size: 12px;
            margin: 0;
        }
    }
    .nav__hamburger {
        flex-grow: 1;
        flex-direction: row-reverse;
        padding-top: 8px;
        cursor: pointer;
        span {
            margin: 0 10px !important;
        }

    }
}



.hamburger {
    position: relative;
    display: none;
    width: 2em;
    height: 1em;
    margin-right: 0.3em;
    border-top: 0.2em solid $secondary-inverse;
    border-bottom: 0.2em solid $secondary-inverse;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.4em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid $secondary-inverse;
}

.nav__logo--highlight {
    background: $highlight-color;
    color: $text-light;
}

.nav__menu {
    text-transform: uppercase;
    padding-top: 0;
    margin: 64px 0 0 0;
}

.nav__menu li {
    padding: 0 4px;
}


@media #{$media-m} {
    .nav__menu {
        margin: 0;
    }
    .nav__logo {
        img {
            height: 64px;
            margin: 4px 8px 0 0;
        }

        div {
            span {
                font-size: 14px;
                margin: 0 70px 0 0;
            }

            p {
                font-size: 9px;
            }
        }
    }
}
@media #{$media-s} {
    nav {
        flex-direction: column;
    }
    .hamburger {
        display: inline-block;
    }
    .nav__menu {
        font-size: 20px;
        display:none;
        li {
            width: 100%;
            padding: 0 0.2em;
        }
    }
    .nav__logo {
        img {
            height: 64px;
            margin: 4px 8px 0 0;
        }

        div {
            span {
                font-size: 14px;
                margin: 0 70px 0 0;
            }

            p {
                font-size: 9px;
            }
        }
    }
}


@media #{$media-xs} {
    nav {
        flex-direction: column;
    }
    .hamburger {
        display: inline-block;
    }
    .nav__menu {
        font-size: 18px;
        margin: 0;
        display: none;
        li {
            width: 100%;
            padding: 0 0.2em;
        }
    }
    .nav__logo {
        img {
            height: 64px;
            margin: 4px 8px 0 0;
        }

        div {
            span {
                font-size: 10px;
                margin: 7px 90px 0 0;
            }

            p {
                font-size: 9px;
            }
        }
    }
}
