.stats-list {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;

    .stat {
        flex: 1;

        

        .stat-number {
            font-family: $header-font;
            font-size: 7.2em;
            margin: 0.3em 0;
        }

        .stat-text {
            font-size: 1.6em;
            line-height: 1.4em;
            color: $color4;
        }
    }
}

@media #{$media-s} {
    .stats-list {
        display: block;
    }
}

@media #{$media-xs} {
    .stats-list {
        display: block;
    }
}
