@import "https://fonts.googleapis.com/css?family=Lato";

@import "https://fonts.googleapis.com/css?family=Anton&amp;display=swap";

$body-font: "Lato", "Verdana", "Arial", sans-serif;
$header-font: "Anton", sans-serif;

/* Coolors Exported Palette - coolors.co/e15532-ec8c39-70c09d-666666-cccccc */

$primary-color: #E15532;
$primary-inverse: #fff;

$secondary-color: #70C09D;
$secondary-inverse: #666;

$highlight-color: #EC8C39;
$highlight-inverse: #fff;

$border-color: #ccc;
$border-radius: 5px;

$text-light: #fff;
$text-dark: #555;



