<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>
  {% include nav.html %}
  {% include action.html %}
  <a name="community"></a>
  {% include community.html %}
  <a name="training"></a>
  {% include heroins.html %}
  {% include header.html %}
  <a name="programs"></a>
  {% include programs.html %}
  <a name="tfnt"></a>
  {% include tfnt.html %}
  <a name="meetups"></a>
  {% include meetups.html %}
  <a name="collecties"></a>
  {% include collecties.html %}
  {% include github.html %}
  <a name="swag"></a>
  {% include swag.html %}
  {% include partners.html %}
  <a name="organisatie"></a>
  {% assign people = site.data.mensen | where_exp: "mens", "mens.groups contains 'board'" %}
  {% include people.html %}
  {% include footer.html %}
</body>
</html>
