<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>
  {% include nav.html %}
  {% include action.html %}
  {% include heroins.html %}
  <a id="testjeleeg"></a>
  <a id="tfnt"></a>
  {% include tfnt.html %}
  <a id="community"></a>
  {% include community.html %}
  <a id="meetups"></a>
  {% include meetups.html %}
  <a id="organisatie"></a>
  {% assign people = site.data.mensen | where_exp: "mens", "mens.groups contains 'board'" %}
  {% include people.html %}
  {% include footer.html %}
</body>
</html>
