<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  <div class="block-40-a">
  {% include nav2020.html %}
  </div>

  <div class="block-100-a-60">
  {% include action.html %}
  </div>

  <a name="community"></a>
  <div class="block-40-a">
  {% include community.html %}
  </div>

  <a name="training"></a>
  <div class="block-100-a-60">
  {% include heroins.html %}
  </div>

  <div class="block-60-a">
  {% include header2020.html %}
  </div>

  <a name="programmas"></a>
  <div class="block-40-a">
  {% include programmas.html %}
  </div>

  <a name="tfnt"></a>
  <div class="block-100-a">
  {% include tfnt.html %}
  </div>

  <a name="meetups"></a>
  <div class="block-40-a">
  {% include meetups.html %}
  </div>

  <a name="collecties"></a>
  <div class="block-40-a">
  {% include collecties.html %}
  </div>

  <div class="block-40-a">
  {% include github.html %}
  </div>

  <a name="swag"></a>
  <div class="block-40-a">
  {% include swag.html %}
  </div>

  <div class="block-40-a">
  {% include partners.html %}
  </div>

  <a name="organisatie"></a>
  <div class="block-40-a">
  {% include organisatie.html %}
  </div>

  {% include footer.html %}
</body>
</html>
