<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  <style>
  h1, h2, h3 {
    font-family: 'Anton', sans-serif;
    line-height: 2em;
    color: #E15532;
  }
  h1 { font-size: 3em; }
  h2 { font-size: 2.4em; }
  h3 { font-size: 1.8em; }
  </style>

  <div style="max-width: 800px; margin: 40px auto">
  {% include nav2020.html %}
  </div>

  <div style="max-width: 800px; margin: 100px auto 60px">
  {% include header.html %}
  </div>

  <div style="max-width: 800px; margin: 40px auto">
  {% include community.html %}
  </div>

  <div style="max-width: 800px; margin: 100px auto 60px">
  {% include heroins.html %}
  </div>

  <div style="max-width: 800px; margin: 40px auto">
  {% include programmas.html %}
  </div>

  <div style="max-width: 800px; margin: 100px auto">
  <a name="tfnt"></a>
  {% include tfnt.html %}
  </div>

  <div style="max-width: 800px; margin: 40px auto">
  {% include meetups.html %}
  </div>

  <div style="max-width: 800px; margin: 40px auto">
  {% include collecties.html %}
  </div>

  <div style="max-width: 800px; margin: 40px auto">
  {% include github.html %}
  </div>

  <div style="max-width: 800px; margin: 40px auto">
  {% include swag.html %}
  </div>

  <div style="max-width: 800px; margin: 40px auto">
  {% include partners.html %}
  </div>

  <div style="max-width: 800px; margin: 40px auto">
  {% include organisatie.html %}
  </div>

  {% include footer.html %}
</body>
</html>
